extends ./base.jade

append title
    | Start

append content
    .carousel
        .container
            .row
                .col-md-12
                    Carousel(style={height:"380px",overflow:"hidden"})
                        each i in [1,2,3]
                            CarouselItem
                                img(src='http://eventlighting.ch/slideshow/'+i+'.jpg', width="100%")
                                .carousel-caption
                                    p(draggable='true') Silvesterparty, Genf, 12.03.2012

    //FileManager

    .container(onClick=this.doIt)
        .jumbotron
            Widget(data=this.props.data.jumbo)
    .container(style={'padding-bottom':'50px'})
        .row
            .col-md-6
                div
                    Widget(data=this.props.data.services)
                    a.btn.btn-primary.pull-right(href='/dienstleistungen',onClick=function(){this.refs.nav.dienstleistungen()}.bind(this)) ...und vieles mehr!
                    .clearfix
                div
                    Widget(data=this.props.data.equipment)
                    a.btn.btn-primary.pull-right(href='/equipment',onClick=function(){this.refs.nav.dienstleistungen()}.bind(this)) ...und vieles mehr!
                    .clearfix
            .col-md-6
                h2 Neuigkeiten
                each post in this.props.data.posts
                    div
                        h4
                            = post.title
                            small= " "+moment(post.date).format("DD.MM.YYYY")
                        Widget(data=post.preview)
main.
    var Widget = require("neutronjs/lib/widget");
    var Carousel = require("react-bootstrap/Carousel");
    var CarouselItem = require("react-bootstrap/CarouselItem");
    var moment = require("moment");
